*.iml
*.log
*.md

/js_coverage/
/.idea/
/.nyc_output/
/__mocks__/
/.cache/
/coverage/
node_modules/
/tests/

*.pyc
__pycache__

.git*
.DS_Store
.coverage
.eslintrc
.eslintignore
.editorconfig
.hgignore
.python-version
.watchmanconfig
.pytest_cache

coverage.xml
configuration.yml
dashboard.js
bootstrap.py
junit.xml
**/settings/currentenv.py
test_data
doc
