*.pyc
*sublime-*
.vscode
*.swp
*.orig
_build
dist
*.egg-info
build
_static
_templates
.DS_Store
.coverage
coverage
.coveragerc
htmlcov*
pip-log.txt
scott.py
CACHE
*.idea
**/settings/currentenv.py
**/settings/local_overrides.py
*~
.git
media
Procfile
^static
reports/*
Procfile
*.iml
junit.xml
atlassian-ide-plugin.xml
.cache
.python-version
